RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.aptopserwis.pl$ 
RewriteRule ^(.*)$ http://aptopserwis.pl/$1 [R=301,L]

ExpiresActive On
ExpiresDefault "access plus 1 seconds"
ExpiresByType images/x-icon "access plus 604800 seconds"
ExpiresByType images/jpeg "access plus 604800 seconds"
ExpiresByType images/png "access plus 604800 seconds"
ExpiresByType images/gif "access plus 604800 seconds"


Header set Cache-Control "public"
Header set Cache-Control "private"
Header set Cache-Control "private, must-revalidate"

Header unset ETag
FileETag None

Header unset Last-Modified