body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #0c0c0c;
}

$header-height-mobile: 60px;
$header-height-desktop: 100px;
$aptop-red: rgba(255, 24, 0, 1);
$fast:0.25s;
$medium:0.45s;
$slow:0.6s;
$almost-black:rgba(14, 14, 26, 0.95);
$text-size-medium: 1.2rem;

.header {
    transition: $slow 0.05s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: $almost-black;

    &__navbar-nav {
        overflow: hidden;
    }

    &__nav-pills {
        transition: $medium $fast;
    }

    &__logo {
        max-height: $header-height-mobile;
        transition: $medium;
    }

    &__nav-link {
        color: white;
        transition: $fast;
    }

    &__nav-item .active {
        color: $aptop-red;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: $aptop-red;
        background-color: transparent;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }
}

.flow-hidden {
    height: 100vh;
    overflow: hidden;
}

.welcome {
    text-align: center;
    height: 105vh;
    width: 105vw;
    background: url('images/tlo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__heading {
        font-size: 1.25rem;
    }

    &__tel {
        color: white;
        font-size: 2rem;
        transition: $medium;
    }

    &__tel:hover {
        color: $aptop-red;
        text-decoration: none;
    }

    hr {
        width: 80vw;
        max-width: 0px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        opacity: .5;
        animation: .5s .5s width-extend forwards;
    }

    .fa-chevron-down {
        font-size: 2rem;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        animation: 3.5s 1.5s arrow infinite;
    }


}

.about {
    background-color: #0c0c0c;

    &__item {
        animation: 1s .5s fade-in-move-up forwards;
        opacity: 0;
    }

    &__p {
        line-height: 1.7;
    }

    &__svg {
        height: 50px;
    }

    &__svg path,
    &__h4 {
        fill: whitesmoke !important;
        transition: $medium;
    }

    &__btn {
        transition: $fast 0.05s;
        white-space: normal;
        background-color: white;
    }

    &__btn:hover {
        opacity: 0.7;
    }
}

.offer {
    &__heading {
        background-image: url('images/firma.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    &__p {
        line-height: 1.6;
    }

}

.drive {
    background-color: #0c0c0c;

    &__p {
        font-size: $text-size-medium;
    }

    &__map {
        width: 100%;
        height: 100%;
        border-color: transparent;
        border-radius: 10px;
    }
}


.contact {

    background-color: #0c0c0c;
    line-height: 1.8;

    address {
        display: block;
        margin: 0;
        padding: 0;
    }

    &__href {
        color: $aptop-red;
    }

    &__href:hover {
        color: lighten($aptop-red, 10%);
        text-decoration: none;
    }
}

.footer {
    margin-top: 3rem;
    font-size: 0.7rem;
    background-color: black;
}

@media (max-width:319px) {
    .contact__time {
        font-size: 0.8rem;
    }

    .drive__p {
        font-size: 0.8rem;
    }

    .contact__data {
        font-size: 0.6rem;
    }
}

@media (max-width:992px) {
    .drive {
        &__map {
            height: 60vh;
        }

        &__p {
            font-size: 1rem;
        }
    }

    .contact__data {
        font-size: 0.9rem;
        line-height: 2.5;

        .normalize-line-h {
            line-height: normal;
        }
    }
}

@media (min-width:992px) {
    .header {
        height: $header-height-desktop;
        background-color: transparent;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;

        &__logo {
            max-height: $header-height-desktop;
        }

        &__nav-pills {
            transform: translateX(176px);
        }

        &__nav-tel::before {
            content: '';
            width: 2px;
            height: 2rem;
            background-color: $aptop-red;
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translate(-0.75rem, -50%);
            border-radius: 15px;
        }
    }

    .header--scrolled {
        height: $header-height-mobile;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: $almost-black;

        &__logo {
            max-height: $header-height-mobile;
        }

        &__nav-pills {
            transform: translateX(0);
        }
    }
}

.animated-fade {
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    opacity: 0;


}

.two {
    animation-delay: 1s;
}

.three {
    animation-delay: 1.5s;
}

.four {
    animation-delay: 2s;
}


@keyframes fade-in-move-up {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes width-extend {
    0% {}

    100% {
        max-width: 400px;
        opacity: 1;
    }
}

@keyframes arrow {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    25% {
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 60px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}