body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.header {
  height: 60px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__navbar-nav {
  overflow: hidden;
}

.header__nav-pills {
  -webkit-transform: translateX(176px);
          transform: translateX(176px);
  -webkit-transition: 0.6s 1s;
  transition: 0.6s 1s;
}

.header__logo {
  max-height: 60px;
  -webkit-transition: all 0.2s, width 0s;
  transition: all 0.2s, width 0s;
}

.header__nav-link {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__nav-item .active {
  color: #ff1800;
}

.header__nav-link:hover {
  color: #ff1800;
}

.header__nav-tel::before {
  content: '';
  width: 2px;
  height: 2rem;
  background-color: #ff1800;
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-0.75rem, -50%);
          transform: translate(-0.75rem, -50%);
  border-radius: 15px;
}

.header .nav-pills .nav-link.active,
.header .nav-pills .show > .nav-link {
  color: #ff1800;
  background-color: transparent;
}

.header--scrolled {
  background: black;
  height: 60px;
}

.header--scrolled__logo {
  max-height: 60px;
}

.welcome {
  text-align: center;
  height: 100vh;
  background: url("images/tlo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome__content {
  -webkit-animation: 1s .5s fade-in-move-up forwards;
          animation: 1s .5s fade-in-move-up forwards;
  opacity: 0;
}

.welcome h3::-moz-selection {
  background-color: rgba(0, 0, 0, 0.6);
}

.welcome h3::selection {
  background-color: rgba(0, 0, 0, 0.6);
}

.welcome__tel {
  color: white;
  font-size: 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.welcome__tel:hover {
  color: #ff1800;
  text-decoration: none;
  font-size: 2.2rem;
}

.welcome hr {
  width: 80vw;
  max-width: 0px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: .5;
  -webkit-animation: .5s 1.5s width-extend forwards;
          animation: .5s 1.5s width-extend forwards;
}

.welcome .fa-chevron-down {
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: 3.5s 1.5s arrow infinite;
          animation: 3.5s 1.5s arrow infinite;
}

.about {
  height: 100vh;
  background-color: darkblue;
}

@-webkit-keyframes fade-in-move-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-move-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes width-extend {
  0% {
  }
  100% {
    max-width: 400px;
    opacity: 1;
  }
}

@keyframes width-extend {
  0% {
  }
  100% {
    max-width: 400px;
    opacity: 1;
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .header {
    height: 100px;
  }
  .header__logo {
    max-height: 100px;
  }
  .header--scrolled {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-blend-mode: exclusion;
    background: rgba(14, 14, 26, 0.5);
    height: 60px;
  }
  .header--scrolled__logo {
    max-height: 60px;
  }
  .header--scrolled__nav-pills {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */